footer {
    background-color: #000000;
    border-top: 10px solid #dbc18a;
    padding: 20px 0;
    color: #f8f8f8;
    height: 300px
  }
  
  .footer-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .developer-info {
    font-size: 24px;
    margin-block: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .social-icons {
    display: flex;
    align-items: center;
  }
  
  .social-icons a {
    display: inline-block;
    color: #999;
    margin-right: 10px;
    font-size: 16px;
  }
  
  .about-link {
    font-size: 24px;
    margin-top: 20px;
  }
  
  .about-link a {
    display: inline-block;
    color: #999;
    margin-right: 10px;
    font-size: 24px;
    text-decoration: none;
    transition: all 0.3s ease;
  }
  
  .about-link a:hover {
    color: #666;
  }

  .socialMediaIcon {
    max-width: 40px;
  }

  .socialMediaIcon:hover {
    cursor: pointer;
  }

  .social-icons {
    column-gap: 20px;
  }

  .developer {
    margin-bottom: 50px;
  }
  
  
  