.cardsBox {
    display: flex;
    flex-direction: row; 
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 90px;
    row-gap: 140px;
    margin: auto;
    margin-top: 70px;
    margin-bottom: 50px;
    padding-inline: 150px;
    padding-block: 150px;
    top: auto;
    max-width: 1490px;
    width: 100%;
    height: 80%;
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.87);
    min-height: 500px;
}

.cardsBoxEmpty {
    display: flex;
    flex-direction: row; 
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 70px;
    margin-bottom: 50px;
    padding-inline: 150px;
    padding-block: 150px;
    top: auto;
    max-width: 1490px;
    width: 100%;
    height: 80%;
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.87);
    min-height: 650px;
    color: white;
    font-size: large;
}